


.contactpage{
    margin:50px auto;
/* margin-bottom:110px ; */
}
.container-image-contact{
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX1fYSfhq_jTMMJVCzFayf_HSyKBMLVAPMrg&s.jpg)no-repeat center center/cover; */
      
    background: url(https://stateline.org/wp-content/uploads/2023/09/school-start-times.jpg)no-repeat center center/cover;
      position: relative;
        width: 100%;
  min-height: 550px;
    margin-top: 80px;
    z-index: 1;   /* put the image layer lower */
     /* height: 50vh; */
  /* width: 1550px; */
    /* min-height: 550px; */
    /* background-size: cover; */
/* display: flex;
  justify-content: center;
  align-items: center; */
}
.content-contact {
  color: #fff;
  padding: 0 20px;            /* prevent text from touching edges */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
      text-align: center;
            background-color: gray;
        opacity: 0.8;

}

.content-contact h2 {
    font-size: 3.5rem;
  margin-bottom: 15px;
    color: #fff;
}

.content-contact p {
  
    font-size: 2rem;
    color: #fff;
}


@media screen and (max-width:768px) {
.container-image{
  /* width: 100%; */
    /* min-height: 100%; */
    min-height: 400px;

}
 .content-contact {
   position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
 }
  
  .content-contact h2 {
    /* width: 90%; */
    font-size: 2rem;
  }
  .content-contact p {
    font-size: 1.5rem;
  }

}


ul{
    margin: 0;
    padding: 0;
    list-style: none
}

.contact-form-details {
    /* width: 90%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.contact-information {
    /* margin-left: 100px; */

}

.contact-information {
    width: 45%;
    height: 470px;
    /* text-align: right; */
    /* display: flex;
  align-items: center;
  justify-content: center; */

    /* padding: 120px; */
    color: #fff;
    background-color:  #a9ce64;
    /* background-color:  #9fca4f; */

    border-radius: 10px;
    margin-top: 0px;

}

@media only screen and (max-width: 900px) {
    .container-image-event{
  width: 100%;
    }
    .contact-form-details {
        flex-direction: column;

    }

    .contact-information {
        width: 85%;
    }
}

.contact-information h4 {
text-align: right;
    padding: 20px;
}

.icon-sch {
    padding-top: 10px;
    font-size: 30px;
}

.item-contactsch span {
    font-size: 18px;

    color: white;
}

.item-contact-icon-sch {
    /* padding: 120px; */

    /* font-size: 95px; */

}

.contentn {
    width: 45%;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
    margin-top: 150px;

}

.contact-detail li {
    margin-bottom: 20px;
}

.contact-detail li {
    /* display: flex; */
    /* color: #FF6700; */
    /* margin-right: 15px;
	border: 1px solid #EBEBEB;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
      gap: 80px;  */

}

/* .contact-details {
  list-style: none;
  padding: 0;
  margin: 0;
} */

.contact-item {
    margin-right: 15px;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    gap: 80px;
    /* display: flex; */
    /* align-items: center; */
    /* gap: 80px;  */
    margin-top: 150px;
}

.contact-icon {
    font-size: 18px;
    color: #007bff;
}

.contact-form {
    /* margin-left: 100px; */
    width: 45%;
    /* height: 400px; */
        border-radius: 10px;

    background-color:  #a9ce64;
    padding: 20px;
}

.contact-form h4{
    color: #fff;
    text-align: right;
padding-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .contact-form {
        /* margin-left: 100px; */
        order: -1;
        width: 85%;

    }

}

/* .send-message {

} */

.item-contactsch {
    display: flex;
    text-align: right;
    gap: 20px;
    padding: 20px;
    color: white;
}

.form-firstname input {
    /* width: 560px; */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* margin-left: 30px; */
    margin-bottom: 30px;
    /* padding: 10px;
    border: 1px solid #e3d9bf;
    outline-color: #e3d9bf;
    border-radius: 5px;
    background-color: #f5f5f5; */

    /* &:hover {
        border: 1px solid orange;
    } */

}

/* .form-firstname .phonenumber input {
padding-top: 80px;
} */
.form-firstname input:focus {
    /* outline: none; */
    outline-color: #74e988;
    border: 3px solid #74e988;
}

.form-firstname input::placeholder {
text-align: right;
}
/* .fullname::placeholder {
    padding-left: 460px;

}
.phonenumber::placeholder {
    padding-left: 450px;

}
.titlename::placeholder {
    padding-left: 460px;

}
.addnotes::placeholder {
    padding-left: 420px;

} */


/* .form-firstname::placeholder {
    margin-left: 190px;

} */

    @media only screen and (max-width: 900px) {
    .contact-form {
        /* margin-left: 100px; */
        order: -1;
        /* width: 85%; */
    }

}
.bt3-contact {
    /* width: 100px; */
    /* height: 30px; */
    border-radius: 20px;
    margin-left: 30px;
    padding: 8px 20px;
    text-align: left;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:  #78ad15;

    font-size: 17px;
}